{% extends 'main.html' %}

{% block content %}

  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-account' %}"><i class="im im-edit"></i> Edytuj</a>
              <img class="avatar avatar--xl dev__avatar" src="{{profile.image.url}}" />
              <h2 class="dev__name">{{profile.full_name}}</h2>
              <p class="dev__title">{{profile.status}}</p>
              <p class="dev__location">Przebywa w: {{profile.location}}</p>
              <ul class="dev__social">
                {% if profile.github %}
                <li>
                  <a title="Github" href="{{profile.github}}" target="_blank"><i class="im im-github"></i></a>
                </li>
                {% endif %}
                {% if profile.linkedin %}
                <li>
                  <a title="LinkedIn" href="{{profile.linkedin}}" target="_blank"><i class="im im-linkedin"></i></a>
                </li>
                {% endif %}
                {% if profile.site %}
                <li>
                    <a title="Outer Site" href="{{profile.site}}" target="_blank"><i class="im im-globe"></i></a>
                </li>
                {% endif %}
          </ul>
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">O mnie</h3>
            {% if profile.biography == None %}
            <p class="devInfo__about">Brak opisu</p>
            {% else %}
            <p class="devInfo__about">
              {{profile.biography}}
            </p>
            {% endif %}
          </div>
          <div class="settings">
            <h3 class="settings__title">Znane technologie</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-technology' %}"><i class="im im-plus"></i>Dodaj znane ci technologie</a>
          </div>

          <table class="settings__table">
          {% if technologies.count == 0 %}
            <p>Brak znanych technologii</p>
            <br>

          {% else %}
            {% for technology in technologies  %}
            <tr>
              <td class="settings__tableInfo">
                <h4>{{technology.name}}</h4>
                <p>
                  {{technology.description}}
                </p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-technology' technology.id %}"><i class="im im-edit"></i> Edytuj</a>
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-technology' technology.id %}?next=/account/"><i class="im im-x-mark-circle-o"></i>
                  Usuń</a>
              </td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}

          <div class="settings">
            <h3 class="settings__title">Projekty</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-project' %}"><i class="im im-plus"></i>Utwórz projekt</a>
          </div>

          {% if projects.count == 0 %}
            <p>Brak projektów</p>
          {% endif %}

          {% for project in projects %}
          <table class="settings__table">
            <tr>
              <td class="settings__thumbnail">
                <a href="{% url 'project' project.id %}"><img src="{{ project.featured_image.url }}" alt="Project Thumbnail" /></a>
              </td>
              <td class="settings__tableInfo">
                <a href="single-project.html">{{project.title}}</a>
                <p>
                  {{project.description}}
                </p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-project' project.id %}"><i class="im im-edit"></i> Edytuj</a>
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-project' project.id %}?next=/account/"><i class="im im-x-mark-circle-o"></i>
                  Usuń</a>
              </td>
            </tr>
            {% endfor %}
          
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}