{% extends 'main.html' %}

{% block content %}
<main class="home">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2><span>Deweloperzy</span></h2>
        </div>

        <div class="hero-section__search">
          <form id="searchForm" class="form" action="{% url 'profiles' %}" method="get">
            <div class="form__field">
              <label for="formInput#search"></label>
              <input class="input input--text" id="formInput#search" type="text" name="find_profile"
                value="{{find_profile}}" placeholder="Szukaj dewelopera..." />
            </div>

            <input class="btn btn--mid btn--lg" type="submit" value="Wyszukaj" />
          </form>
        </div>
      </div>
    </section>
    <section class="devlist">
      <div class="container">
        <div class="grid grid--three">
            {% for profile in profiles %}
            
            {% if not profile.user.is_superuser %}
          <div class="column card">
            <div class="dev">
              <a href="{% url 'user-profile' profile.id %}" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="{{profile.image.url}}" alt="image" />
                  <div class="dev__meta">
                    <h3>{{profile.full_name}}</h3>
                    <h5>{{profile.status|slice:"100"}}</h5>
                  </div>
                </div>
                <p class="dev__info">
                  {{profile.biography|slice:"250"}}
                </p>
                <div class="dev__skills">
                {% for technology in profile.technology_set.all %}
                  <span class="tag tag--pill tag--main">
                    <small>{{technology}}</small>
                  </span>
                {% endfor %}
                </div>
              </a>
            </div>
          </div>
          {% endif %}

          {% endfor %}
        </div>
      </div>
    </section>
  </main>

  {% include 'pagination.html' with queryset=profiles pages_range=pages_range %}


{% endblock content %}